<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../style/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="weather">
      <p><%= temperature %></p>
      <a href="/"><button>Accueil</button></a>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>