<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <p><%= temperature %></p>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>